// Pour toutes les pages
.screen-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  max-width: 96%;
}

// Specific CSS for your home-page
body {
  font-family: $font;
  color: #375698;
}

h2 {
  font-family: $font;
  color: #88A3DD;
  font-size: 30px;
  margin-bottom: 30px;
}

.bloc-elements-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.presentation-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 15px;
}

.title-app{
  font-family: "Anton";
  font-size: 128px;
  color: white;
  text-shadow: 4px 4px 4px rgba($color: #D2E2FF, $alpha: 1);
  margin-bottom: 50px;
}

.card-wrapper {
  margin: 5px;
  text-align: center;
}

.intro-app {
  font-family: $font;
  font-weight: 300;
  font-size: 24px;
  width: 620px;
  // padding: 55px;

  .intro-app-bold {
    font-family: $font;
    font-weight: 700;
  }
}

.card-white-small {
  color: #88A3DD;
}

.else-cpm {
  width: 100%;
  margin: 40px 0;
  padding: 30px;
}

.else-cpm:before,
.else-cpm:after {
  content: "";
  width: 20%;
  border-bottom: 1px solid rgba($color: #5A86E5, $alpha: 0.2);
  display: inline-block;
  margin-bottom: 10px;
  margin-inline: 10px;
}

.logo{
  width: 100px;
  height: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
