.arborescence {
  min-width: 250px;
  max-width: 350px;
  position: sticky;
  top: 20px;
  border-right: 1px solid rgba($color: #CDD5E5, $alpha: 1.0);
  padding: 20px;
  overflow: hidden;
}

.title-aside {
  padding-bottom: 10px;
  overflow: scroll;
}

.search-result {
  padding: 0;
  height: 70%;

}

.detail-arborescence {
  height: 70%;
  overflow: scroll;
  white-space: nowrap;

  .menu-deroulant {
  }

  summary {
      margin-bottom: 8px;
      padding: 8px;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  details[open] summary {
      margin-bottom: 8px;
      text-overflow: ellipsis;
      overflow: hidden;
  }
}

.article-result {
  padding-left: 20px;
  overflow: scroll;
}

.articles-list {
  font-size: 10px;
  }

.titre-paragraphe {
  font-family: $font;
  color: #88A3DD;
  font-size: 30px;
  margin-top: 50px;
}

.style-article {
  font-weight: 700;
}
