.arborescence {
  width: 250px;
  position: sticky;
  top: 20px;
  border-right: 1px solid rgba($color: #CDD5E5, $alpha: 1.0);
  padding: 20px;
}

.detail-arborescence {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  details {
    padding: 8px;
  }

  summary {
      margin-bottom: 8px;
      padding: 8px;
      text-overflow: ellipsis;
  }


  details[open] summary {
      margin-bottom: 8px;
  }
}

.article-result {
  padding-left: 20px;
  overflow: scroll;
}
