h1 {
  font-family: 'Comfortaa-light';
  font-size: 40px;
  margin-bottom: 25px;
}

h3 {
  font-family: 'Comfortaa-light';
  font-size: 20px;
}

.search-partie-gauche {
  padding-inline: 30px;
}

.info-subject {
  display: inline-block;
  color: #375698;
  background-color: transparent;
  border: 1px solid #375698;
  border-radius: 10px;
  padding: 5px 10px;
}
