<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>




<%# formulaire de la homepage pour trouver le sujet principal %>
<%= form_with url: search_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "sujet de recherche"
  %>
  <%= submit_tag "Rechercher" %>
<% end %>
