.btn-tag {
  display: inline-block;
  text-decoration: none;
  background-color: #88A3DD;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;

  a {
    text-decoration: none;
    color: white;
  }
}

.btn-maj input {
  display: inline-block;
  background-color: #88A3DD;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  width: 40% !important;
  

  input {
    text-decoration: none;
  }
}
