.card-white-small {
  width: 500px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba($color: #375698, $alpha: 0.1);
  border-radius: 10px;
}

.card-white-medium {
  width: 1080px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba($color: #375698, $alpha: 0.1);
  border-radius: 10px;
}

.card-white-result {
  width: 1080px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba($color: #375698, $alpha: 0.1);
  border-radius: 10px;
}

mark {
  background-color: #efbde8;
}
