.card-white-small {
  max-width: 35%;
  height: 75vh;
  padding: 20px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba($color: #375698, $alpha: 0.1);
  border-radius: 10px;
}

.card-white-medium {
  width: 100%;
  height: 75vh;
  padding: 20px;
  margin-bottom: 50px;
  margin-inline: 10px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba($color: #375698, $alpha: 0.1);
  border-radius: 10px;
}

.card-white-result {
  overflow: hidden;
  height: 75vh;
  padding: 20px;
  margin-bottom: 50px;
  margin-inline: 10px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba($color: #375698, $alpha: 0.1);
  border-radius: 10px;
}

.primary-mark {
  background-color: #efbde8;
}

.secondary-mark {
  background-color: #f3dfef;
}
