.navbar-brand {
  color: #375698;
  font-family: $font;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 1px 1px 0px rgb(55, 86, 152);

  &:hover {
    color: #375698 !important;
  }
}

.navbar-helprh {
  justify-content: space-between;
  background: transparent;
  border-radius: 20px;
  top: 0;
  position: sticky;
}

.navbar-helprh .navbar-collapse {
  flex-grow: 0;
}

.navbar-helprh .navbar-brand img {
  width: 40px;
}

.nav-item a {
  color: #375698;
  font-family: $font;
  font-weight: 700;
}
