.navbar-helprh {
  justify-content: space-between;
  background: transparent;
  border-radius: 20px;

}

.navbar-helprh .navbar-collapse {
  flex-grow: 0;
}

.navbar-helprh .navbar-brand img {
  width: 40px;
}
